.main-container {
  display: flex;
}

section {
  height: 100%;
}
li {
  display: flex;
  justify-content: center;
}
.filterLabel {
  justify-content: center;
  padding: 2px;
  line-height: 1;
}
aside {
  min-width: 350px;
}

.header-results {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
  color: red;
  font-weight: bold;
}

@media (max-width: 600px) {
  .search_container {
    display: block;
  }
  .adminButton {
    width: 95%;
  }
  .main-container {
    display: block;
    text-align: center;
  }
  .searchInput,
  .searchHolder {
    width: 100%;
  }
}

.profile-info {
  position: absolute;
  width: 20%;
}

.cards-container {
  width: 75%;
  margin-left: 20%;
}

@media (max-width: 1024px) {
  .cards-container {
    width: 100%;
    margin-left: 0 !important;
  }
  .profile-info {
    width: 90%;
    margin: auto;
    position: relative;
  }
}
.break {
  flex-basis: 100%;
  height: 0;
}
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Zen+Maru+Gothic:wght@500&display=swap");
