.filter-input-container > div{
    width: 100%!important;
    max-width: 100%!important;
}

.profile-info{
  position:absolute;
  width: 20%;
}

.cards-container{
  width:75%;
  margin-left: 20%;
}

.card-container > *{
  overflow-x: hidden;
}

.pro-image {
  height: 400px;
}

@media (max-width: 1024px) { 
    .cards-container
    {
      width: 100%;
      margin-left: 0!important;
    }
    .profile-info{
      width: 90%;
      margin:auto;
      position: relative;
    }
}
