.main-container{
  display: flex;
}
section {
  height: 100%;
}
li {
  display: flex;
  justify-content: center;
}
.filterLabel {
  justify-content: center;
  padding: 2px;
  line-height: 1;
}
aside{
  min-width: 350px;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.email{
  text-decoration: none;
}

/* .email {
  visibility: hidden;
  transition: visibility 10ms;
}

.info:hover > .email {
  visibility: visible;
} */

@media (max-width:600px) {
  .search_container{
    display: block;
  }
  .main-container{
    display: block;
    text-align: center;
  }
  .searchInput,.searchHolder{
    width: 100%;
  }
}
